.cardListSection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.pagination {
  display: flex;
  justify-content: center;
  margin: 10px;
  gap: 10px;
  padding: 10px;
}
.pagination button {
  padding: 5px;
  border-radius: 5px;
}

.pagination span {
  padding: 5px;
  background-color: var(--background-light-color);
  border-radius: 5px;
}
